<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>ジェネリックYoutubePremium</title>
        <link href="static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <h1>{{ id["data"][0]["name"] }}の動画</h1>
        </div>

        <div>
            <form action="/getid" method="GET">
                <input type="text" name="id" placeholder="@はいらないよ？">
                <input type="submit" value="送信">
            </form>
            <div id="movies">
                {% if flag |length == 0%}
                        <p>Youtubeの動画リンクが見つかりませんでした</p>
                {% else %}
                    {% for i in flag %}
                        <div class="content">
                            <div class="iframeWrap">
                                <iframe width="560" height="315" src={{i}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <form action="/download_movie" method="GET" target="_blank">
                                <input type="hidden" name="url" value = {{i}} readonly="readonly">
                                <input type="submit" value="DL">
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </body>
</html>
